<html>
	<head>
		<title>Show all Users</title>
	</head>
	
	
	<body>
		
		
		<table border="1" style="background-color: aliceblue;">
			<caption>show user all list</caption>
			
			<thead>
				<tr style="background-color: bisque;">
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				</tr>
				
			</thead>
			<tbody>
				
				<tr th:each="user: ${usersData}">
				<td th:text="${user.id}" style="background-color: aqua;"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
				</tr>
				
				
				
			</tbody>
		</table>
	</body>
</html>